.box{
	
	width:200px;
	height: 200px;
	background-color: #FFA07A;
	border: 1px solid red;/* hasta aqui sin los float aparecen en forma apilada vertical*/
/*	display: inline; /* alinea los bloques hacia la derecha */
/*	float: right; /*alinealos bloques de derecha a izquierda numeracion descendente*/
/*	float: left; /* de izquierda a derecha numeración ascentente*/
	float:left;
	

}
.box2{
	
	width:200px;
	height: 200px;
	background-color: #FFA07A;
	border: 1px solid red;
	float:left;
	clear:left;

}