.box{
	width:100%;
	height: 200px;
	background-color: #FFA07A;
	border: 1px solid red;
	float:left;
}
.box2{
	
	width:630px;
	height:200px;
	background-color: #FF69B4;
	border: 1px solid red;
	float:left;
	display: inline;
}
.box3{
	
	width:630px;
	height: 200px;
	background-color: #C71585;
	border: 1px solid red;
	float:left;

}
.box4{
	
	width:100%;
	height: 200px;
	background-color: #FFA07A;
	border: 1px solid red;
	clear:left;

}