#encabezado{
	background-color: red;
	height: 120px;
}
.btnNav{
	background: blue;
	margin-right: 3px;
}
.parrafo{
	background: #F0FFFF;
}
.parrafo2{
	background: violet;
}
.parrafo3{
	background: yellow;
}