body{
	background-color: yellow;
	}
h1 {
	background-color: agua;
	width: 50%;
	border-style: solid;
	padding: 3dpx;
	text-align: center;
}
p{
	background-color: #00BFFF;
	width: 15%;
	height: 50%;
	border: 10px;
	border-style: dotted;
	margin:100px;
}
.parrafo{
		background-color: white;
		width: 100%;
		height: 50%;
		border: 10px;
		border-style: dotted;
		margin:0;

	  }
#unico{
		background-color: green;
		color: white;
		width: 100%;
		height: 50%;
		border: 10px;
		border-style: dotted;
		margin:300px;
		text-align: justify;
		visibility: enabled;
			  }
